.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.card {
    height: 28rem;
    margin-bottom: 10px;
}

.card .card-title {
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.22);
}

.card .card-content, .card-action {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1em;
}

#index-banner {
    background-image: url(../images/gbwallpaper.png);
    height: 48rem;
}

